@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 221 100% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 12% 84%;
    --secondary-foreground: 0 0% 29%;
    --muted: 216 12% 84%;
    --muted-foreground: 0 0% 46%;
    --accent: 216 12% 84%;
    --accent-foreground: 0 0% 29%;
    --destructive: 8 78% 49%;
    --destructive-foreground: 0 0% 100%;
    --border: 216 31% 91%;
    --input: 216 31% 91%;
    --ring: 221 100% 53%;
    --radius: 0.5rem;
    --chart-1: 221 100% 53%;
    --chart-2: 106 65% 44%;
    --chart-3: 54 96% 52%;
    --chart-4: 8 78% 49%;
    --chart-5: 249 65% 60%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 100%;
    --primary: 221 100% 68%;
    --primary-foreground: 0 0% 7%;
    --secondary: 0 0% 29%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 29%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 29%;
    --accent-foreground: 0 0% 100%;
    --destructive: 8 78% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 29%;
    --input: 0 0% 29%;
    --ring: 221 100% 68%;
    --chart-1: 221 100% 68%;
    --chart-2: 106 65% 55%;
    --chart-3: 54 96% 62%;
    --chart-4: 8 78% 60%;
    --chart-5: 249 65% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
